@tailwind base;

@layer base {
  body {
    @apply bg-slate-900;
    @apply pt-8;
    @apply text-slate-300;
  }
  table {
    border: 1px solid #777;
    border-collapse: collapse;
  }
  th,
  td {
    border: 1px solid #777;
    @apply p-2;
    @apply font-normal;
  }

  td {
    @apply text-xs;
    @apply font-thin;
    @apply text-center;
  }

  tr.totalRow,
  th {
    @apply bg-slate-800;
  }
}

@tailwind components;

@layer components {
  .bg-grey-line {
    /* background: #fff;
    background: linear-gradient(180deg, transparent, #666, transparent); */
    background-image: url('https://res.cloudinary.com/dkit4ixkx/image/upload/v1643221381/thumbs/ling-bg_lduwrr.svg');
    background-position: center;
    background-repeat: repeat-y;
    /* background-size: 20px auto; */
  }
}

@tailwind utilities;
